.homeWidget{
    margin-top: 10px;

    width: 52vw;
    height: 560px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 30px 37px 13px rgba(146, 145, 145, 0.462);
    overflow: auto;
    /* overflow-y: scroll; */
}
.homeWidget h1{
    font-size: 20px;
    margin: 0;
}
.homeWidget p{
    font-size: 15px;
    color:rgb(134, 131, 131);
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.NewButton button{
    width: 125px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    color:  rgb(71, 135, 238);;
    background-color: rgba(183, 223, 249, 0.749);
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.NewButton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.tasksContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}